@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--serif: 'Playfair Display', serif;
	--sans-serif: 'Lato', sans-serif;
}

body {
	font-family: var(--sans-serif);
	line-height: 1.5;
	color: #242424;
}

h1 {
	font-family: var(--serif);
	font-weight: 100;
	font-size: 6rem;
	margin-bottom: 1rem;
	letter-spacing: 0.2rem;
	color: #31363d;
}

h2 {
	font-family: var(--san-serif);
	font-size: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: 0.5rem;
}

p {
	font-size: 1.25rem;
	text-wrap: wrap;
}
